{
  "type": "tile",
  "name": "dirt",
  "size": 256,
  "bg": "transparent",
  "seed": 4242,
  "tilesheet_seed_start": 13,
  "tilesheet_count": 12,
  "tilesheet_columns": 4,
  "tilesheet_padding": 0,
  "dirt_base": "#765234",
  "dirt_splotches": ["#896548", "#7b583d"],
  "dirt_stones": ["#4b5057", "#3e4349"],
  "dirt_splotch_count": 128,
  "dirt_stone_count": 10
}
