{
  "type": "tile",
  "name": "path",
  "sprite_width": 256,
  "sprite_height": 256,
  "bg": "transparent",
  "seed": 303,
  "tilesheet_seed_start": 303,
  "tilesheet_count": 1,
  "tilesheet_columns": 1,
  "tilesheet_padding": 0,
  "path_base": "#6b6b6b",
  "path_brick_count": 8,
  "path_brick_crack": 0.1
}
