{
  "type": "tilesheet",
  "tile_config": "debug_weight.config",
  "variants": [
    {"seed": 117, "angles": [0]},
    {"seed": 121, "angles": [90]},
    {"seed": 125, "angles": [180]},
    {"seed": 129, "angles": [270]},
    {"seed": 101, "angles": [153.435]},
    {"seed": 105, "angles": [26.5]},
    {"seed": 109, "angles": [206.565]},
    {"seed": 113, "angles": [333.435]},
    {"seed": 201, "angles": [153.435, 26.5]},
    {"seed": 205, "angles": [153.435, 206.565]},
    {"seed": 209, "angles": [153.435, 333.435]},
    {"seed": 213, "angles": [26.5, 206.565]},
    {"seed": 217, "angles": [26.5, 333.435]},
    {"seed": 221, "angles": [206.565, 333.435]},
    {"seed": 301, "angles": [153.435, 26.5, 206.565]},
    {"seed": 305, "angles": [153.435, 26.5, 333.435]},
    {"seed": 309, "angles": [153.435, 206.565, 333.435]},
    {"seed": 313, "angles": [26.5, 206.565, 333.435]},
    {"seed": 401, "angles": [153.435, 26.5, 206.565, 333.435]}
  ],
  "columns": 4,
  "padding": 0
}
