{
  "type": "tilesheet",
  "tile_config": "../tile/water_transition.config",
  "variants": [
    {"seed":201,"angles":[153.435]},
    {"seed":202,"angles":[26.5]},
    {"seed":203,"angles":[206.565]},
    {"seed":204,"angles":[333.435]},
    {"seed":205,"angles":[153.435,26.5]},
    {"seed":206,"angles":[153.435,206.565]},
    {"seed":207,"angles":[153.435,333.435]},
    {"seed":208,"angles":[26.5,206.565]},
    {"seed":209,"angles":[26.5,333.435]},
    {"seed":210,"angles":[206.565,333.435]},
    {"seed":211,"angles":[153.435,26.5,206.565]},
    {"seed":212,"angles":[153.435,26.5,333.435]},
    {"seed":213,"angles":[153.435,206.565,333.435]},
    {"seed":214,"angles":[26.5,206.565,333.435]},
    {"seed":215,"angles":[153.435,26.5,206.565,333.435]},
    {"seed":216,"angles":[0]},
    {"seed":217,"angles":[90]},
    {"seed":218,"angles":[180]},
    {"seed":219,"angles":[270]},
    {"seed":220,"angles":[0,90]},
    {"seed":221,"angles":[0,180]},
    {"seed":222,"angles":[0,270]},
    {"seed":223,"angles":[90,180]},
    {"seed":224,"angles":[90,270]},
    {"seed":225,"angles":[180,270]},
    {"seed":226,"angles":[0,90,180]},
    {"seed":227,"angles":[0,90,270]},
    {"seed":228,"angles":[0,180,270]},
    {"seed":229,"angles":[90,180,270]},
    {"seed":230,"angles":[0,90,180,270]}
  ],
  "columns": 4,
  "padding": 0
}
